<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.wangdasong.wx.dao.persistence.WxBnsDaoMapper" >
  <resultMap id="BaseResultMap" type="com.github.wangdasong.wx.dao.entity.WxBns" >
      <id column="WBS_ID" property="id" />
      <result column="WBS_BONUS_ID" property="bonusId" />
      <result column="WBS_WX_CODE" property="wxCode" />
      <result column="WBS_START_TIME" property="startTime" />
      <result column="WBS_CREATE_DATE" property="createDate" />
      <result column="WBS_CREATE_USER_ID" property="createUserId" />
      <result column="WBS_UPDATE_DATE" property="updateDate" />
      <result column="WBS_UPDATE_USER_ID" property="updateUserId" />
  </resultMap>

  <sql id="Base_Column_List" >
    WBS.ID AS WBS_ID,
    WBS.BONUS_ID AS WBS_BONUS_ID,
    WBS.WX_CODE AS WBS_WX_CODE,
    WBS.CREATE_DATE AS WBS_CREATE_DATE,
    WBS.CREATE_USER_ID AS WBS_CREATE_USER_ID,
    WBS.UPDATE_DATE AS WBS_UPDATE_DATE,
    WBS.UPDATE_USER_ID AS WBS_UPDATE_USER_ID
  </sql>


    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select   <include refid="Base_Column_List" />
        from TAB_WX_BNS WBS
        where WBS.ID= #{id}
    </select>

  <select id="getListByCondition" resultMap="BaseResultMap" parameterType="com.github.wangdasong.wx.dao.entity.WxBns" >
    select 
    <include refid="Base_Column_List" />
	FROM TAB_WX_BNS WBS
      LEFT JOIN TAB_BONUS BNS ON WBS.BONUS_ID = BNS.ID
	<where>
           <trim prefixOverrides="AND |OR ">
               <if test="bonusId!=null">
                   AND WBS.BONUS_ID = '${bonusId}'
               </if>
                <if test="wxCode!=null">
                   AND WBS.WX_CODE='${wxCode}'
               </if>
               <if test="bonus!=null and bonus.eventId!=null ">
                   AND BNS.EVENT_ID ='${bonus.eventId}'
               </if>
           </trim>
       </where>
  </select>

  <delete id="deleteById" parameterType="java.lang.String" >
    delete from TAB_WX_BNS
    where ID = #{id}
  </delete>
  
  

  <insert id="save" parameterType="com.github.wangdasong.wx.dao.entity.WxBns" >
      <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
          SELECT REPLACE(UUID(),'-','') FROM DUAL;
      </selectKey>
    insert into TAB_WX_BNS
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                ID,
            </if>
            <if test="bonusId != null" >
                    BONUS_ID,
            </if>
            <if test="wxCode != null" >
                    WX_CODE,
            </if>
            <if test="createDate != null" >
                    CREATE_DATE,
            </if>
            <if test="createUserId != null" >
                    CREATE_USER_ID,
            </if>
            <if test="updateDate != null" >
                    UPDATE_DATE,
            </if>
            <if test="updateUserId != null" >
                    UPDATE_USER_ID,
            </if>
            
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id},
            </if>
            <if test="bonusId != null" >
                    #{bonusId},
            </if>
            <if test="wxCode != null" >
                    #{wxCode},
            </if>
            <if test="createDate != null" >
                    #{createDate},
            </if>
            <if test="createUserId != null" >
                    #{createUserId},
            </if>
            <if test="updateDate != null" >
                    #{updateDate},
            </if>
            <if test="updateUserId != null" >
                    #{updateUserId},
            </if>
           
        </trim>
  </insert>



</mapper>
